include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        +b('section').breadcrumbs
          +e.href(href="#") Главная
          +e('span').delim
          +e.href(href="#") Магазины
          +e('span').delim
        +e.content
          h1 Acoola
          section.magazines__elem-backover
            a(href="#").common__back Вернуться к магазинам
          section.magazines__elem-info
            span(style="background-image: url('img/acoola-main.jpg'").magazines__elem-bg
            aside.magazines__elem-side
              .magazines__elem-logoover
                img(src="img/acoola-logo.png").magazines__elem-logo
              .magazines__elem-row 3 этаж 
                a(href="#").magazines__elem-tomap Посмотреть на карте
              .magazines__elem-row 
                a(href="tel:73833638570").magazines__elem-tel +7 383 363-85-70
              .magazines__elem-row 
                +b('ul').socials
                  +e.item
                    +e.href(href="#", target="_blank", data-type="fb")
                  +e.item
                    +e.href(href="#", target="_blank", data-type="od")
                  +e.item
                    +e.href(href="#", target="_blank", data-type="vk")
              .magazines__elem-row
                a(href="www.acoolakids.ru", target="_blank").magazines__elem-link www.acoolakids.ru
              .magazines__elem-row
                a(href="mailto:Acoola@gmail.com").magazines__elem-link Acoola@gmail.com
              .magazines__elem-row 10:00 - 20:00
          section.magazines__elem-text
            h2 О бренде
            p Acoola — популярная марка модной одежды и аксессуаров для детей от 0 до 14 лет. Сеть фирменных магазинов насчитывает более 240 точек продаж по всей территории России, с адресами которых можно ознакомиться в соответствующем разделе сайта. Уточнить наличие товара в конкретном магазине вы можете воспользовавшись сервисом «Наличие товара в магазине» на нашем сайте.
            p Ассортиментный ряд включает множество разнообразных по цвету и фасону моделей повседневной, школьной, спортивной и праздничной одежды, в состав которой входят материалы высокого качества. При создании каждой коллекции мы руководствуемся пожеланиями не только родителей, которые высоко ценят практичность, удобство и функциональность, но также их детей, мечтающих о модной одежде как у взрослых.
            p Детская одежда бренда Acoola- это удобная размерная сетка и отвечающий актуальным тенденциям моды дизайн. Она износостойка, проста в уходе, изготовлена из качественных материалов и дополнена забавными принтами. В такой одежде ваш ребенок будет всегда чувствовать себя уверенно и комфортно: в школе,  дома и на прогулке с друзьями.

            section.news__elem-carover
              section.news__elem-car.swiper-container.js-news-car
                .swiper-wrapper
                  .swiper-slide(style="background-image: url('img/ncar1.jpg')")
                    a(href="img/ncar1.jpg").glightbox
                  .swiper-slide(style="background-image: url('img/gallery1.jpg')")
                    a(href="img/gallery1.jpg").glightbox
                  .swiper-slide(style="background-image: url('img/ncar1.jpg')")
                    a(href="img/ncar1.jpg").glightbox
                  .swiper-slide(style="background-image: url('img/gallery1.jpg')")
                    a(href="img/gallery1.jpg").glightbox
                  .swiper-slide(style="background-image: url('img/ncar1.jpg')")
                    a(href="img/ncar1.jpg").glightbox
              section.news__elem-thumbs.swiper-container.js-news-thumbs
                .swiper-wrapper
                  .swiper-slide(style="background-image: url('img/tcar1.jpg')")
                  .swiper-slide(style="background-image: url('img/tcar2.jpg')")
                  .swiper-slide(style="background-image: url('img/tcar3.jpg')")
                  .swiper-slide(style="background-image: url('img/tcar4.jpg')")
                  .swiper-slide(style="background-image: url('img/tcar3.jpg')")
              .swiper-buttons
                button(type="button").swiper-button-prev.swiper-button-prev_red.js-news-prev
                button(type="button").swiper-button-next.swiper-button-next_red.js-news-next

            p Ассортиментный ряд включает множество разнообразных по цвету и фасону моделей повседневной, школьной, спортивной и праздничной одежды, в состав которой входят материалы высокого качества. При создании каждой коллекции мы руководствуемся пожеланиями не только родителей, которые высоко ценят практичность, удобство и функциональность, но также их детей, мечтающих о модной одежде как у взрослых.

        +b('section').news._others.h-anim
          p.common__title.common__title_small(data-text="Новости Acoola") Новости Acoola
          +e.row
            +e.col._col4
              +e('article').item
                +e.item-imgover(href="#")
                  +e.item-img(src="img/acoola1.jpg")
                +e.item-content
                  +e('p').item-date 2 ноября 2018
                  +e.item-href(href="#") Черная пятница. Скидки на всю коллекцию до 50%
                  +e('p').item-text В магазинах детской одежды ACOOLA до 25 ноября приобретайте новинки для Нового года и зимы со скидками до 50%
            +e.col._col4
              +e('article').item
                +e.item-imgover(href="#")
                  +e.item-img(src="img/acoola2.jpg")
                +e.item-content
                  +e('p').item-date 11 сентября 2018
                  +e.item-href(href="#") 3=2 на всё из коллекции «Осень’18»
                  +e('p').item-text В акции участвует ассортимент товаров из коллекции "ОСЕНЬ’18", представленный в магазине ACOOLA, в том числе товары марки Infinity Kids.
            +e.col._col4
              +e('article').item
                +e.item-imgover(href="#")
                  +e.item-img(src="img/acoola3.jpg")
                +e.item-content
                  +e('p').item-date 2 сентября 2018
                  +e.item-href(href="#") Скидка 50% в Acoola
                  +e('p').item-text Скидка 50% по Акции предоставляется на каждую вторую вещь в чеке, наименьшую по стоимости.
          +e.toall.btn(href="#") Все новости и акции
    include layout/__footer
    include layout/__scripts