include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        +b('section').text
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim
          +e.content
            h1 Результаты поиска
            +b('section').search
              +e('form').form
                +e('input').form-input(type="text", data-req="req", placeholder="Введите запрос", value="Центр")
                +e.form-sbm(type="submit", title="Найти")
              +e('p').info По вашему запросу «Центр» найдено 
                span 28
                |  страниц.
              +e('ol').list
                +e.item
                  +e.item-href(href="#") Вы в кино? А ребенок в WOW PARK!
                  +e('p').item-text Идете в кино? Оставьте ребенка на весь сеанс в батутно-развлекательном 
                    span центр
                    | е WOW PARK! При предъявлении билета за 10 минут до сеанса и за 10 минут после! Стоимость 600 руб. Для детей +5 лет
                +e.item
                  +e.item-href(href="#") Встречайте весну с HENDERSON!
                  +e('p').item-text ... коллекцию HENDERSON представляет известный продюсер, шоумен и телеведущий Гарик Мартиросян. Приглашаем вас посетить салон HENDERSON в нашем торговом 
                    span центр
                    | е. Здесь вы найдете все для создания повседневного, делового или торжественного образа.
                +e.item
                  +e.item-href(href="#") О торговом 
                    span центр
                    | е «NEBO»
                  +e('p').item-text Торговый город «NEBO» – универсальный торгово-развлекательный центр, в котором представлены крупнейшие международные и федеральные сети. 
                +e.item
                  +e.item-href(href="#") Ярмарка недвижимости
                  +e('p').item-text ... 10:00 до 20:00 Вам стоит посетить экспозицию «Ярмарки недвижимости», в самом большом торговом комплексе города - «NEBO», Копейское шоссе, 64, 
                    span центр
                    | альный атриум, 2 этаж. ТОЛЬКО 1 ДЕНЬ действуют специальные предложения - акции, распродажи, беспроцентные рассрочки, бонусы, розыгрыши.... 
                +e.item
                  +e.item-href(href="#") Back tо School: распродажа для девочек!
                  +e('p').item-text В розничных магазинах @elc_russia ELC «
                    span Центр
                    |  раннего развития» всё больше и больше игрушек участвует в распродаже Back to School! Теперь, кроме игрушек для малышей и товаров для творчества,... 
                +e.item
                  +e.item-href(href="#") Готовимся к школе с ELC!
                  +e('p').item-text ... пеналами и школьными рюкзаками, магнитными буквами и цифрами, прописями и обучающими карточками! До 3 сентября спешите в розничные магазины ELC «
                    span Центр
                    |  Раннего Развития» за школьными принадлежностями: выбирайте любые три товара, участвующие в акции, и получайте скидку 50%* на всю сумму ... 
              +e('section').moreover
                +e.more.btn(href="#").js-search-more Показать больше
            
    include layout/__footer
    include layout/__scripts