include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        +b('section').text
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim
          h1 H1 — Заголовок первого уровня  в три строки, для межстрочного расстояния
          +e.content
            p ТРЦ NEBO открылся осенью 2005 года и сразу стал одним из любимых торговых центров москвичей. ТРЦ создан для тех, кто ценит неординарность, любит делать приятные подарки себе и своим близким, следит за модой и сохраняет свою индивидуальность. Благодаря атмосфере праздника, царящей в торговом центре, к нам хочется возвращаться снова и снова!
            p Сооруженный в «советское»  время (1975 год) торговый центр был первым подобным сооружением в мире. Здание Торгового центра «Nebo» уникально. Макет купола оболочки экспонировался на международной выставке в Нью-Йорке и был отмечен ведущими специалистами мира. Это 
              a(href="#") большепролетный купол
              |  , монолитная, правильной кривизны сферическая железобетонная оболочка. Ее размер - больше гектара, вес - свыше 5000 тонн. Она собрана из 1500 плит и стянута 36 канатами, забетонированными в мощные блоки, и сходит к основанию здания, опираясь, по его периметру, на четыре угловые опоры.
            p Дело в том, что это здание, практически «парит в воздухе». Внутри него нет колонн, поддерживающих сферу изнутри. Опорой же Торгового Центра являются исключительно четыре угла самого купола спускающиеся на пол. При этом опоры размещены на специальных катках и способны двигаться. Конструкция может опускаться или подниматься в зависимости от перепадов температуры. На момент строительства такое техническое решение не имело прецедента в мировой практике: свыше 5000 тонн веса держат четыре «двигающихся угла», а железобетонные перекрытия стянуты канатами.
            img(src="img/text.jpg")
            p(style="text-align: center; opacity: .5; margin-top: 15px;") Описание фотографии в несколько строк. Фотография Торгового центра NEBO, второй и первый этажи.
            p Был и еще один первый в истории архитектуры момент… Эксперимент со строительством такого здания был довольно рискованным: на практике ничего подобного никто не делал. Поэтому, после того, как строительство было завершено – здание почти на несколько месяцев оставили под наблюдение. И только после того, как ТЦ прошел все тесты – его приняли в эксплуатацию.
            p В 1975 году –  громадный магазин принял  потоки   восторженных покупателей, и туристов. Как образец передового инженерно-строительного искусства макет ТЦ путешествовал с выставки на выставку: Москва, Хельсинки, Лондон, Нью-Йорк… «Уникальность» здания оценили все ведущие специалисты мира.
            h2 H2 — Заголовок второго уровня  в несколько строк , чтобы показать межстрочное расстояние
            p Сооруженный в «советское»  время (1975 год) торговый центр был первым подобным сооружением в мире. Здание Торгового центра «Nebo» уникально. Макет купола оболочки экспонировался на международной выставке в Нью-Йорке и был отмечен ведущими специалистами мира. Это большепролетный купол, монолитная, правильной кривизны сферическая железобетонная оболочка. Ее размер - больше гектара, вес - свыше 5000 тонн. Она собрана из 1500 плит и стянута 36 канатами, забетонированными в мощные блоки, и сходит к основанию здания, опираясь, по его периметру, на четыре угловые опоры.
            p 
              b(style="font-size: 18px;") Заголовок нумерованного списка
            ol
              li Веден в эксплуатацию в ноябре 2014 года.
              li Площадь застройки 6676 квадратных метров.
              li Проходимость торговых путей галерей 2 этажа от 5500 человек в день. Дополнительная информация о тоговом тексте, набранна для объема и межстрочного расстояния.
            p В 1975 году –  громадный магазин принял  потоки   восторженных покупателей, и туристов. Как образец передового инженерно-строительного искусства макет ТЦ путешествовал с выставки на выставку: Москва, Хельсинки, Лондон, Нью-Йорк… «Уникальность» здания оценили все ведущие специалисты мира.
            p 
              b(style="font-size: 18px;") Заголовок маркерованного списка
            ul
              li Центр города
              li 160 машинных мест
              li Отдельный подъезд для выгрузки товара
              li Удобная развязка общественного транспорта
            p ТРЦ «NEBO» открылся осенью 2005 года и сразу стал одним из любимых торговых центров москвичей. ТРЦ создан для тех, кто ценит неординарность, любит делать приятные подарки себе и своим близким, следит за модой и сохраняет свою индивидуальность. Благодаря атмосфере праздника, царящей в торговом центре, к нам хочется возвращаться снова и снова!
            iframe(width="560", height="315", src="https://www.youtube.com/embed/T-J2TwRQePM", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            p Сооруженный в «советское»  время (1975 год) торговый центр был первым подобным сооружением в мире. Здание Торгового центра «Nebo» уникально. Макет купола оболочки экспонировался на международной выставке в Нью-Йорке и был отмечен ведущими специалистами мира. Это большепролетный купол, монолитная, правильной кривизны сферическая железобетонная оболочка. Ее размер - больше гектара, вес - свыше 5000 тонн. Она собрана из 1500 плит и стянута 36 канатами, забетонированными в мощные блоки, и сходит к основанию здания, опираясь, по его периметру, на четыре угловые опоры.
            h3 H3 — Заголовок третьего уровня  в несколько строк , чтобы показать межстрочное расстояние
            p Это большепролетный купол, монолитная, правильной кривизны сферическая железобетонная оболочка. Ее размер - больше гектара, вес - свыше 5000 тонн. Она собрана из 1500 плит и стянута 36 канатами, забетонированными в мощные блоки, и сходит к основанию здания, опираясь, по его периметру, на четыре угловые опоры.
            p
              b(style="font-size: 18px;") Заголовок таблицы
            table
              thead
                tr
                  th Месяц
                  th Показатель #1
                  th Показатель #2
                  th Показатель #3
                  th Показатель #4
              tbody
                tr
                  td Сентябрь
                  td 61
                  td 61
                  td 61
                  td 61
                tr
                  td Октябрь
                  td 64
                  td 64
                  td 64
                  td 64
                tr
                  td Ноябрь
                  td 65
                  td 65
                  td 65
                  td 65
                tr
                  td Декабрь
                  td 110
                  td 110
                  td 110
                  td 110
            p Сооруженный в «советское»  время (1975 год) торговый центр был первым подобным сооружением в мире. Здание Торгового центра NEBO уникально. Макет купола оболочки экспонировался на международной выставке в Нью-Йорке и был отмечен ведущими специалистами мира. Это большепролетный купол, монолитная, правильной кривизны сферическая железобетонная оболочка. Ее размер - больше гектара, вес - свыше 5000 тонн. Она собрана из 1500 плит и стянута 36 канатами, забетонированными в мощные блоки, и сходит к основанию здания, опираясь, по его периметру, на четыре угловые опоры.
            h4 H4 — Заголовок четвертого уровня  в несколько строк, чтобы показать межстрочное расстояние
            p Это большепролетный купол, монолитная, правильной кривизны сферическая железобетонная оболочка. Ее размер - больше гектара, вес - свыше 5000 тонн. Она собрана из 1500 плит и стянута 36 канатами, забетонированными в мощные блоки, и сходит к основанию здания, опираясь, по его периметру, на четыре угловые опоры.

    include layout/__footer
    include layout/__scripts