include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main
      .container
        +b('section').text
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim / 
          h1 Разводящая
          +e.content
            ul
              li
                a(href="index") Главная
              li
                a(href="text") Типовая текстовая
       
    include layout/__footer
    include layout/__scripts