.menu
  @media $LandscapeMedium
    pos fixed
    z-index 10
    l -100%
    visibility hidden
    t 0
    opacity 0
    padding 34px 32px
    w 100%
    h 100%
    transition .7s visibility, .7s left, .7s opacity
    overflow-y auto
  @media $PortraitMin
    padding 40px 15px
  &__list
    df(flex-start, space-between)
    @media $LandscapeMedium
      flex-direction column
      pr 0
      w 100%
  &__item
    pos relative
    @media $LandscapeMin
      w 100%
    &_tablet
      @media $LandscapeMediumMin
        dn()
    & + &
      @media $LandscapeMedium
        mt 30px
  &__href
    pos relative
    color black
    fontify 15px 700 18px
    transition .7s color
    text-transform uppercase
    letter-spacing .1em
    white-space nowrap
    @media $desktopMedium
      text-transform none
      font-size 16px
      letter-spacing 0
    @media $LandscapeMedium
      fontify 24px 600 32px
    @media $LandscapeMediumMin
      &_sub
        mr 17px
        &:before
          content ""
          pos absolute
          t 6px
          r -17px
          size 9px 6px
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAMAAAAmGUT3AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAQlBMVEXxFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3xFR3///+/okeeAAAAFHRSTlMACJIWILwdk9TfuxXTNt4e3N0cuY8yBY4AAAABYktHRBXl2PmjAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wEcDgkOR0+5XwAAADRJREFUCNcdxlsCgBAURdGdV1cp4cx/rGF9LQ7ngRATp8wTsi7uInuy3sqqdmY/tR3oY+UHM+QB1DjcfuYAAAAASUVORK5CYII=') no-repeat center
    &:after
      content ""
      pos absolute
      l 0
      w 100%
      opacity 0
      b -10px
      h 2px
      bgc $red
      transition .7s bottom, .7s opacity
    &_active:after,
    &:hover:after
      b -8px
      opacity 1
  &__sublist
    @media $LandscapeMediumMin 
      visibility hidden
      opacity 0
      pos absolute
      t 28px
      l 0
      bgc white
      box-shadow 0 3px 34.3px 0.7px rgba(112, 118, 126, 0.15)
      transition .3s visibility, .3s opacity, .3s top
      ^[0]__item:hover &
        t 38px
        opacity 1
        visibility visible
    @media $LandscapeMedium
      mt 14px
      dfv()
      &:before
        content ""
        pos absolute
        l 0
        t -21px
        h 21px
        w 100%
    &-item
      @media $LandscapeMedium
        & + &
          mt 10px
    &-href
      db()
      pos relative
      color black
      fontify 16px 600 20px
      transition .7s background, .7s color
      @media $LandscapeMediumMin
        padding 20px 30px
        &:hover,
        &_active
          bgc $red
          color white
      @media $LandscapeMedium
        fontify 18px 600 24px
        &_active
          color $red

.burger
  @media $LandscapeMediumMin
    dn()
  ml 30px
  mt 11px
  @media $LandscapeMin
    mt 0
    ml 0
  &__shadow
    pos fixed
    l 0
    t 0
    transform translateY(100%)
    transition 1s transform, .7s opacity
    will-change transform
    opacity .2
    bgc alpha(white, .9)
    size 100%
    z-index 10
  &__button
    cursor pointer
    w 25px
    h 25px
    pos relative
    z-index 11
    &:before
      content ""
      pos absolute
      t 0
      r 0
      w 25px
      h 1px
      bgc $blue
      transition .5s width, .5s background, .5s transform, .5s top
    &:after
      content ""
      pos absolute
      b 0
      r 0
      w 25px
      h 1px
      bgc $blue
      transition .5s width, .5s background, .5s transform, .5s top  
    &-meat
      content ""
      pos absolute
      t 50%
      r 0
      w 25px
      h 1px
      bgc $blue
      transition .5s width, .5s background, .5s transform, .5s top  
    &.open
      &:before
        animation burger-top 1s ease-in-out forwards
      &:after
        animation burger-bottom 1s ease-in-out forwards
      & ^[-1]-meat
        opacity 0
      & + ^[0]__shadow
        opacity 1
        transform translateY(0)
    &.open.remove
      &:before
        animation burger-top-invert 1s ease-in-out forwards
      &:after
        animation burger-bottom-invert 1s ease-in-out forwards
      & ^[-1]-meat
        opacity 1
        transition .4s opacity .6s

html:not(.touchevents)
  .burger
    &:not(.open):hover
      &:before
        animation burger-hover 1s infinite ease-in-out alternate
      &:after
        animation burger-hover 1s infinite ease-in-out alternate forwards 400ms
    &:not(.open):hover &-meat
      animation burger-hover 1s infinite ease-in-out alternate forwards 200ms

@keyframes burger-hover
  0%
    w 100%
  50%
    w 50%
  100%
    w 100%
      
@keyframes burger-top
  0%
    t 0
  40%
    t 12px
  60%
    t 12px
    transform rotate(0)
  100%
    t 12px
    transform rotate(45deg)
    
@keyframes burger-bottom
  0%
    b 0
  40%
    b 12px
  60%
    b 12px
    transform rotate(0)
  100%
    b 12px
    transform rotate(-45deg)

@keyframes burger-top-invert
  0%
    t 12px
    transform rotate(45deg)
  40%
    t 12px
    transform rotate(0)
  60%
    t 12px
  100%
    t 0
    
@keyframes burger-bottom-invert
  0%
    b 12px
    transform rotate(-45deg)
  40%
    b 12px
    transform rotate(0)
  60%
    b 12px
  100%
    b 0

body.burgeropen
  overflow hidden
  .menu
    visibility visible
    opacity 1
    l 0
    transition-delay .7s