.menu
  @media $LandscapeMedium
    pos fixed
    z-index 11
    l -100%
    visibility hidden
    t 0
    opacity 0
    padding 34px 32px
    w 100%
    h 100%
    transition .7s visibility, .7s left, .7s opacity
    overflow-y auto
  @media $PortraitMin
    padding 40px 15px
  &__list
    df(flex-start, space-between)
    @media $LandscapeMedium
      flex-direction column
      pr 0
      w 100%
  &__item
    pos relative
    @media $LandscapeMin
      w 100%
    &_tablet
      df(flex-start, space-between)
      pt 20px
      @media $LandscapeMinFrom
        dn()
    &_mobile
      @media $PortraitMediumFrom
        dn()
      @media $PortraitMin
        .header__order
          db()
          ml 0
    & + &
      @media $LandscapeMedium
        mt 30px
  &__href
    pos relative
    color black
    fontify 15px 700 18px
    transition .7s color
    text-transform uppercase
    letter-spacing .1em
    white-space nowrap
    @media $LandscapeMedium
      fontify 24px 600 32px
    &:after
      content ""
      pos absolute
      l 0
      w 100%
      opacity 0
      b -10px
      h 2px
      bgc $red
      transition .7s bottom, .7s opacity
    &_active:after,
    &:hover:after
      b -8px
      opacity 1
  &__sublist
    visibility hidden
    opacity 0
    pos absolute
    t 28px
    l 0
    bgc white
    box-shadow 0 3px 34.3px 0.7px rgba(112, 118, 126, 0.15)
    transition .3s visibility, .3s opacity, .3s top
    @media $LandscapeMedium
      visibility visible
      opacity 1
      pos relative
      t 0
      l 0
      padding 0
      bgc transparent
      mt 14px
    &:before
      content ""
      pos absolute
      l 0
      t -21px
      h 21px
      w 100%
      @media $LandscapeMedium
        dn()
    @media $LandscapeMediumMin
      ^[0]__item:hover &
        t 38px
        opacity 1
        visibility visible
    &-href
      db()
      pos relative
      color black
      fontify 16px 600 20px
      padding 20px 30px
      transition .7s background, .7s color
      @media $LandscapeMedium
        fontify 18px 600 24px
      &:hover,
      &_active
        bgc $red
        color white

body.burgeropen
  overflow hidden
  .menu
    visibility visible
    opacity 1
    l 0
    transition-delay .7s