.about
  mt 100px
  &__row
    df()
    ml -15px
    mr -15px
    & + &
      mt 48px
  &__col
    padding 0 15px
    &_col3
      flex 0 0 25%
      max-width 25%
    &_col4
      flex 0 0 33.333333%
      max-width 33.333333%
    &_col5
      flex 0 0 41.666667%
      max-width 41.666667%
    &_col8
      flex 0 0 66.666667%
      max-width 66.666667%
  &__text
    mt -8px
  &__more
    c black
    border-bottom 1px solid $blue
    transition .7s border
    &:hover
      border-color transparent