.about
  mt 100px
  &__row
    df()
    ml -15px
    mr -15px
    flex-wrap wrap
    @media $desktopMedium
      ml -10px
      mr -10px
    & + &
      mt 48px
      @media $desktopMedium
        mt 38px
  &__col
    padding 0 15px
    @media $desktopMedium
      padding 0 10px
    @media $LandscapeMedium
      flex 0 0 100%
      max-width 100%
      &_mapover
        dn()
    @media $LandscapeMediumMin
      &_col3
        flex 0 0 25%
        max-width 25%
      &_col4
        flex 0 0 33.333333%
        max-width 33.333333%
      &_col5
        flex 0 0 41.666667%
        max-width 41.666667%
      &_col7
        flex 0 0 58.333333%
        max-width 58.333333%
  &__text
    mt -8px
  &__place
    max-width 100%
  &__tomap
    max-width calc(100% - 15px)
  &__more
    c black
    border-bottom 1px solid $blue
    transition .7s border
    &:hover
      border-color transparent