.banner
  &__car
    .swiper-slide
      df(center, flex-start)
      oh()
      padding 40px 0
      min-height 418px
      @media $LandscapeMedium
        min-height 360px
      @media $LandscapeMin
        min-height 320px
        padding 60px 0
      &-active ^[0]__img
        transform scale(1.04) translateX(-50%)
    .swiper-buttons
      @media $desktopTablet
        dn()
  &__img
    pos absolute
    t 0
    l 50%
    min-width 100%
    min-height 100%
    z-index -1
    transform scale(1) translateX(-50%)
    will-change transform
    transition 5s transform linear
  &__title
    c white
    fontify 70px 800 70px
    max-width 600px
    ml -3px
    @media $desktopMedium
      fontify 50px 700 50px
    @media $LandscapeMedium
      fontify 40px 700 40px
  &__btn
    mt 30px

.advert
  mt 82px
  dn()
  @media $PortraitMediumFrom
    db()
  &__img
    max-width 100%
    &_bordered
      border 2px solid $gblue
  &__row
    df()
    ml -15px
    mr -15px
    @media $desktopMedium
      ml -10px
      mr -10px
  &__col
    padding 0 15px
    @media $desktopMedium
      padding 0 10px
    &_col4
      flex 0 0 33.333333%
      max-width 33.333333%
    &_col8
      flex 0 0 66.666667%
      max-width 66.666667%