.clients
  pos relative
  mt 78px
  .swiper-slide
    dfv(center, center)
    h 91px
  a
    size 100%
    dfv(center, center)
  &__img
    display inline-block
    vertical-align middle
    max-width 90%
    max-height 100%