.gallery
  mt 96px
  pt 75px
  pb 60px
  bgc $gblue
  &__car
    mt 25px
    .swiper-slide
      w auto
      &:nth-child(2n)
        pt 26px
      &:nth-child(3n)
        pt 80px
  &__hrefover
    text-align center
    mt 36px
  &__img
    @media $PortraitMedium
      w 100%