.news
  pos relative
  z-index 1
  &:not(&_index)
    mb -62px
    @media $PortraitMedium
      mb -30px
  &_others
    mt 50px
    @media $LandscapeMedium
      mt 70px
    .common__title
      mb 30px
    @media (max-width:950px) and (min-width:501px)
      .news__col:nth-child(3)
        dn()
  &_index
    mt 40px
    @media $LandscapeMedium
      mt 70px
    &:before
      content ""
      pos absolute
      l 0
      t 47%
      size 100% 30%
      bgc $gblue
      @media $LandscapeMedium
        dn()
  &__titleover
    pos absolute
    t 78px
    l 46px
    z-index 1
    max-width 370px
    @media $desktopMedium
      l 30px
    @media $LandscapeMedium
      pos relative
      l auto
      t auto
      max-width none
  &__row
    df()
    flex-wrap wrap
    ml -15px
    mr -15px
    @media $desktopMedium
      ml -10px
      mr -10px
    &_bottom
      align-items flex-end
      @media $LandscapeMedium
        align-items flex-start
    & + &
      mt 30px
      @media $desktopMedium
        mt 20px
  &__col
    padding 0 15px
    @media $desktopMedium
      padding 0 10px
    @media $PortraitMedium
      flex 0 0 100%
      max-width 100%
      & + &
        mt 20px
    @media (max-width:950px) and (min-width:501px)
      flex 0 0 50%
      max-width 50%
    @media $LandscapeMedium
      &_towide
        flex 0 0 100%
        max-width 100%
        text-align center
    @media $LandscapeMediumMin
      &_col3
        flex 0 0 25%
        max-width 25%
      &_col4
        flex 0 0 33.333333%
        max-width 33.333333%
      &_col5
        flex 0 0 41.666667%
        max-width 41.666667%
      &_col8
        flex 0 0 66.666667%
        max-width 66.666667%
      &_col12
        flex 0 0 100%
        max-width 100%
  &__item
    pos relative
    w 100%
    &:not(&_index)
      mb 62px
      @media $PortraitMedium
        mb 30px
    &_index
      oh()
      pt 70%
      @media $desktopMax
        pt 71%
      @media $desktopMedium
        pt 80%
    &_vertical
      pt calc(95% + 1px)
      @media $desktopMedium
        pt 102%
      @media $LandscapeMedium
        dn()
    &_large
      @media (min-width:951px)
        df()
        padding 30px
        box-shadow 0 3px 34.3px 0.7px rgba(112, 118, 126, 0.15)
        & ^[0]__item
          &-href
            fontify 32px 700 38px
          &-date
            mb 17px
      @media (min-width:1271px)
        mt 43px
        & ^[0]__item
          &-imgover
            mt -65px
            mr 57px
            w calc(50% + 30px)
            pt 33%
          &-content
            w calc(50% - 95px)
      @media (min-width:951px) and (max-width:1270px)
        & ^[0]__item
          &-imgover
            mt 0
            mr 40px
            w calc(50% - 20px)
            pt 41%
          &-content
            w calc(50% - 20px)
    &-img
      pos absolute
      l 0
      t 0
      size 100%
      object-fit cover
      object-position 100% 0
      font-family 'object-fit: cover;'
      transition 1.5s transform
      will-change transform
      -webkit-backface-visibility hidden
      transform scale(1.017) translateZ(0)
    &:hover &-img
      transform scale(1) translateZ(0)
    &-titleover
      pos absolute
      l 0
      b 0
      padding 28px 72px 28px 30px
      bgc alpha($blue, .9)
      transition .7s padding
      @media $desktopMedium
        padding 18px 52px 18px 20px
      &:hover 
        &:after
          opacity 1
        & ^[0]__item-title
          border-color white
      &:after
        content ""
        pos absolute
        r 30px
        t 50%
        mt -6px
        size 23px 12px
        opacity .4
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAMCAQAAAAjMu5zAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjARYOMDTgeg0zAAAAZElEQVQoz43Quw2AMAwE0AtiBCZgDhPYv8gGFFQpKGlBR4HIp/I51UnvLCuBcGbEXcPg4gOxyfRe5Mn1Tz7vCgr/CpvOSyFwx+x9DgDgwoNJ3W7MXNRjjJmm3l6wwhus8FQx8QLLHeGDPNd41AAAAABJRU5ErkJggg==') no-repeat center right
        transition .7s opacity
        @media $desktopMedium
          r 15px
    &-title
      c white
      fontify 16px 700 24px
      border-bottom 1px solid transparent
      transition .7s border
    &-imgover
      db()
      w 100%
      pt 63%
      overflow hidden
      pos relative
    &-content
      max-width 80%
      mt 29px
    &-date
      c #252525
      fontify 10px 400 10px
      text-transform uppercase
      letter-spacing .1em
      mb 12px
    &-href
      c black
      fontify 21px 700 28px
      border-bottom 1px solid $blue
      transition .7s border, .7s color
      &:hover
        c $red
        border-color transparent
    &-text
      fontify 16px 400 26px
      mt 15px
  &__elem
    &-date
      ib()
      margin 12px 0 11px 29px
      pos relative
      c darkgrey
      fontify 10px 400 10px
      text-transform uppercase
      letter-spacing .1em
      &:before
        content ""
        pos absolute
        l -29px
        t -5px
        size 19px 17px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAARCAQAAACVkV9MAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAR0IKDco5D9jAAAAgklEQVQoz82Q0Q2DMBBD350yBJmFLgAD3AKVulUGIHOwCoItwgckKgIi+ld/+cP2+SwDACQA5MxMAJQMqTFHR8DznXlgMTHzVgJWXHJmJhhB8Yx3SXu7Ee+eNAN3cF8gFpnUZAbEpDxC7nY773brhxf+NU2ZedXHiC2LDD2Bpqqb+KyTpyQOzd2mqwAAAABJRU5ErkJggg==') no-repeat center
    &-carover
      pos relative
      margin 33px auto
      max-width 770px
      .swiper-slide
        background-size cover
        background-position center
        background-repeat no-repeat
      .swiper-buttons
        max-width 900px
        t 225px
        @media $desktopMedium
          max-width 767px
        @media $desktopTablet
          t 0
    &-car
      .swiper-slide
        h 450px
        .glightbox
          db()
          h 100%
    &-thumbs
      mt 18px
      .swiper-slide
        cursor pointer
        pt 13%
        @media $LandscapeMin
          pt 18%
        @media $PortraitMedium
          pt 28%
        &:before
          content ""
          pos absolute
          l 0
          r 0
          b 0
          t 0
          border 2px solid transparent
          transition .7s border
        &-thumb-active:before
          border-color $red
  &__moreover
    w 100%
    text-align center
    mb 70px
    @media $PortraitMedium
      mt 30px
  &__more:after
    content ""
    display inline-block
    vertical-align top
    size 8px 6px
    ml 10px
    mt 15px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAQAAABUDBdwAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAR0IACWGAOCBAAAASUlEQVQI1wXBwQ2CUABAsUc0XJ3kL8EYOpdOoBxZg3W4khhrm2EzS2abkR2ri8kbe4YDL08cRrI4wWlRkruvn4d0rWrt1tSn6g+zHDxaJdAq8wAAAABJRU5ErkJggg==') no-repeat center
  &__btn
    mt 30px
    @media $LandscapeMediumMin
      w 100%
      text-align center
  &__toall
    @media $LandscapeMinFrom
      pos absolute
      r 0
      t 2px
      z-index 2
    @media $LandscapeMin
      mb 90px
    &:after
      content ""
      display inline-block
      vertical-align top
      mt 15px
      ml 10px
      size 6px 8px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAQAAABwz0azAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAR0OGAqrRzkzAAAARElEQVQI113MsQ1AUAAG4d+rzCJvBluYwyr20JmBdbQq+RQiwnWXXC6qVScisWDX39KacRgkophwGkteml/2GVTbs74ASKE6wqc+1iYAAAAASUVORK5CYII=') no-repeat center