.page404
  max-width 630px
  margin -40px auto 0
  text-align center
  @media $LandscapeMin
    margin 0 auto
  h1:not([class])
    margin 22px 0 21px
    fontify 44px 900 50px
    @media $desktopMedium
      fontify 40px 700 44px
    @media $PortraitMax
      fontify 30px 700 34px
  &__img
    max-width 100%
    ml 30px
    @media $LandscapeMin
      ml 0