@import "helpers/vars.styl"

@import "helpers/reset.styl"
@import "helpers/fonts.styl"

@import "libs/swiper.styl"
@import "libs/glightbox.styl"
@import "libs/perfect-scrollbar.styl"

@import "helpers/common.styl"
@import "helpers/animations.styl"
@import "helpers/decoration.styl"

@import "layout/header.styl"
@import "layout/menu.styl"
@import "layout/footer.styl"
@import "layout/popup.styl"

@import "blocks/socials.styl"
@import "blocks/banners.styl"
@import "blocks/news.styl"
@import "blocks/about.styl"
@import "blocks/clients.styl"
@import "blocks/poster.styl"
@import "blocks/impressions.styl"
@import "blocks/gallery.styl"
@import "blocks/contacts.styl"
@import "blocks/magazine.styl"